@font-face {
  font-family: "iconfont"; /* Project id 3545176 */
  src: url('iconfont.woff2?t=1660189059448') format('woff2'),
       url('iconfont.woff?t=1660189059448') format('woff'),
       url('iconfont.ttf?t=1660189059448') format('truetype'),
       url('iconfont.svg?t=1660189059448#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e60a";
}

.icon-data:before {
  content: "\e609";
}

.icon-authority:before {
  content: "\e605";
}

.icon-person:before {
  content: "\e606";
}

.icon-company:before {
  content: "\e608";
}

.icon-homepage:before {
  content: "\e604";
}

