.menuItemWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 108px;
  height: 72px;
  padding: 12px 0;

  .menuTitle {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.childMenuItem {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 24px;
  transition: all 0.2s ease-out;

  .menuTitle {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 22px;
  }

  img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }

  .fontIcon {
    color: rgba(0, 0, 0, 0.65);
  }

  // :global {
  //   .ant-pro-sider.ant-layout-sider-light .ant-menu-item-selected a, .ant-pro-sider.ant-layout-sider-light .ant-menu-item a:hover {
  //     color: #1890ff;
  //   }
  // }

    // .iconfont {
    //   color: rgba(0, 0, 0, 0.65);
    // }

    // .ant-menu-item-active .iconfont a {
    //   color: #1890ff;
    // }
  
}

:global {
  .auth-layout {
    .ant-menu-item {
      .iconfont,span {
        color: rgba(0, 0, 0, 0.65);
      }
  
      &:hover {
        .iconfont,span {
          color: #1890ff!important;
        }
      }
    }
  
    .ant-menu-item-selected,.ant-menu-item-active {
      .iconfont,span {
        color: #1890ff!important;
      }
    }
  }
}



.tabContainer {
  height: calc(100vh - 72px);
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tabsNavWrap {
  :global {
    .ant-tabs-nav {
      margin: 0 !important;
    }
  }
}

.tabPaneContainer {
  height: calc(100vh - 112px);
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  :global {
    .ant-pro-table {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .ant-card {
      flex: 1;
      height: auto!important;
    }
  }
}
