.container {
  position: relative;
  width: 100%;
  height: calc(100vh - 112px);
  margin-bottom: -40px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.44), rgba(255, 255, 255, 0.44)),
    linear-gradient(180deg, #c7dbfb 0%, #f0f2f5 55.15%);

  .image {
    position: absolute;
    top: 0;
    right: 0;
    width: 536px;
    height: 336px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 78px;
    margin-left: 40px;
    padding-top: 54px;

    .logo {
      width: 26px;

      img {
        width: 100%;
        max-height: 50px;
      }
    }

    .title {
      color: #333;
      font-weight: 600;
      font-size: 36px;
    }

    .subTitle {
      color: #666666;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .contentWrap {
    margin-left: 38px;

    .section {
      margin-bottom: 32px;

      .sectionTitle {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        color: #333;
        font-weight: 600;
        font-size: 18px;

        img {
          width: 17px;
          margin-right: 6px;
        }
      }

      .cardList {
        display: flex;
      }

      .cardWrap {
        position: relative;
        display: flex;
        align-items: center;
        width: 312px;
        height: 72px;
        margin-right: 32px;
        padding: 12px 16px;
        background: #fff;
        border-radius: 4px;
        cursor: pointer;

        .left {
          width: 54px;
          margin-right: 10px;

          img {
            width: 100%;
          }
        }

        .right {
          .title {
            color: #333;
            font-weight: 500;
            font-size: 16px;
          }

          .description {
            color: #999;
            font-weight: 400;
            font-size: 12px;
          }
        }

        .arrow {
          position: absolute;
          right: 12px;
          width: 16px;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
