.readyTitle {
  color: #108ee9;
  font-size: 12px;
  line-height: 22px;
}

.successTitle {
  color: #17F9AD;
  font-size: 12px;
  line-height: 22px;
}

.action {
  text-decoration: underline;
}

.preview {
  margin-top: 5px;
  width: 67px;
  height: 37px;
  border-radius: 4px;
}